@charset "UTF-8";
/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

p {
  font-size: 22px;
}

h2 {
  font-size: 30px;
}

* {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@keyframes slidein {
  from {
    opacity: 0.7;
    transform: translateX(250px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
body.is-fixed {
  overflow: hidden;
}

@font-face {
  font-family: "mplus-1m-bold";
  src: url("http://mplus-webfonts.sourceforge.jp/mplus-1m-bold.eot");
  src: url("http://mplus-webfonts.sourceforge.jp/mplus-1m-bold.eot?#iefix") format("embedded-opentype"), url("http://mplus-webfonts.sourceforge.jp/mplus-1m-bold.woff") format("woff"), url("http://mplus-webfonts.sourceforge.jp/mplus-1m-bold.ttf") format("truetype");
}
@font-face {
  font-family: "mplus-1m-regular";
  src: url("http://mplus-webfonts.sourceforge.jp/mplus-1m-regular.eot");
  src: url("http://mplus-webfonts.sourceforge.jp/mplus-1m-regular.eot?#iefix") format("embedded-opentype"), url("http://mplus-webfonts.sourceforge.jp/mplus-1m-regular.woff") format("woff"), url("http://mplus-webfonts.sourceforge.jp/mplus-1m-regular.ttf") format("truetype");
}
body {
  font-family: "Roboto";
}

.l-header {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-header__title {
  font-size: 32px;
  padding-left: 23px;
}
.l-header__menu {
  display: flex;
}
.l-header__menu a {
  font-size: 26px;
  padding: 0 18px;
}

.l-main {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.c-table {
  width: 100%;
}
.c-table tr {
  display: flex;
  justify-content: space-between;
}
.c-table th {
  font-size: 20px;
}
.c-table__title {
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 12px;
  font-size: 22px;
}

.c-table__1 {
  width: 100%;
}
.c-table__1 tr {
  border-bottom: 1px solid;
}
.c-table__1 tr:first-child {
  border-bottom: none;
}

.c-table__2 {
  width: 100%;
}
.c-table__2 tr {
  border-bottom: 1px solid;
}
.c-table__2 tr:first-child {
  border-bottom: none;
}

.c-table__3 {
  width: 100%;
}
.c-table__3 tr {
  border-bottom: 1px solid;
}
.c-table__3 tr:first-child {
  border-bottom: none;
}

.p-contents {
  width: 100%;
}
.p-contents__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.p-contents__main h2 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.p-contents__main__top {
  height: 250px;
}
.p-contents__main__middle {
  height: 600px;
}
.p-contents__main__bottom {
  height: 650px;
}
.p-contents__main__price {
  width: 70%;
}

.p-branch-menu {
  height: 1400px;
  display: flex;
}
@media (max-width: 1900px) {
  .p-branch-menu {
    height: auto;
    background-size: cover;
  }
}
@media (max-width: 850px) {
  .p-branch-menu {
    height: 1200px;
    flex-direction: column;
    justify-content: center;
  }
}
.p-branch-menu__wrap {
  position: relative;
  height: 1193px;
  width: 625px;
  margin: 100px 60px;
}
@media (max-width: 1900px) {
  .p-branch-menu__wrap {
    height: 681px;
    width: 357px;
    margin: 66px 30px;
  }
}
@media (max-width: 850px) {
  .p-branch-menu__wrap {
    width: 335px;
  }
}
.p-branch-menu__wrap a {
  color: #fff;
}
.p-branch-menu__wrap h2 {
  position: relative;
  font-size: 3.5rem;
  padding-top: 30px;
  padding-left: 20px;
  color: #eaeaea;
}
@media (max-width: 1900px) {
  .p-branch-menu__wrap h2 {
    font-size: 2.3rem;
    padding-top: 20px;
    padding-left: 13px;
  }
}
.p-branch-menu__wrap h2::after {
  position: absolute;
  top: 140px;
  left: 26px;
  content: "";
  width: 60px;
  height: 6px;
  background-color: #eaeaea;
}
@media (max-width: 1900px) {
  .p-branch-menu__wrap h2::after {
    top: 96px;
    left: 18px;
    width: 40px;
    height: 4px;
  }
}
.p-branch-menu .takeout {
  background: url(../img/c-wrap_takeout.png) no-repeat;
}
@media (max-width: 1900px) {
  .p-branch-menu .takeout {
    background-size: 100%;
  }
}
@media (max-width: 850px) {
  .p-branch-menu .takeout {
    margin: 20px;
  }
}
.p-branch-menu .eatin {
  background: url(../img/c-wrap_eatin.png) no-repeat;
}
@media (max-width: 1900px) {
  .p-branch-menu .eatin {
    background-size: 100%;
  }
}
@media (max-width: 850px) {
  .p-branch-menu .eatin {
    margin: 0 20px 20px 20px;
  }
}

.p-reference {
  display: flex;
  flex-direction: column;
}
.p-reference h2 {
  margin: 50px auto 20px auto;
}
.p-reference button {
  width: 300px;
  height: 50px;
  color: #fff;
  background-color: #0D4FAF;
  border-radius: 40%;
  margin: 20px auto 20px auto;
}

.p-menu__card {
  display: flex;
  height: auto;
  width: 100%;
  padding: 0 100px 30px;
}
@media (max-width: 1900px) {
  .p-menu__card {
    height: 354px;
    width: 756px;
    padding: 10px 10px;
  }
}
@media (max-width: 850px) {
  .p-menu__card {
    height: 100%;
    width: 336px;
    flex-direction: column;
    padding: 20px;
  }
}
.p-menu__card img {
  width: 43%;
  height: auto;
}
@media (max-width: 850px) {
  .p-menu__card img {
    width: 100%;
  }
}
.p-menu__card__text {
  height: auto;
  width: 100%;
  background-color: #3c2b1c;
  padding: 50px 63px;
}
@media (max-width: 1900px) {
  .p-menu__card__text {
    padding: 20px 30px;
  }
}
@media (max-width: 850px) {
  .p-menu__card__text {
    padding: 40px 20px;
  }
}
.p-menu__card__text h3 {
  font-size: 28px;
  font-family: "mplus-1m-bold";
  color: #fff;
}
@media (max-width: 1900px) {
  .p-menu__card__text h3 {
    font-size: 16px;
  }
}
.p-menu__card__text h4 {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 450;
  font-family: "mplus-1m-bold";
  color: #fff;
}
@media (max-width: 1900px) {
  .p-menu__card__text h4 {
    font-size: 12px;
  }
}
.p-menu__card__text p {
  margin-top: 18px;
  font-size: 12px;
  font-weight: 300;
  font-family: "mplus-1m-regular";
  color: #fff;
}
@media (max-width: 1900px) {
  .p-menu__card__text p {
    font-size: 10px;
  }
}
@media (max-width: 850px) {
  .p-menu__card__text p {
    padding-right: 40px;
  }
}
.p-menu__card__text a {
  font-family: "mplus-1m-bold";
  display: block;
  text-align: center;
  height: 60px;
  width: 60%;
  border-radius: 50px;
  color: #707070;
  background-color: #fff;
  padding: 20px;
  margin: auto;
  margin-top: 110px;
}
@media (max-width: 1900px) {
  .p-menu__card__text a {
    height: 40px;
    margin-top: 60px;
    font-size: 9px;
    padding: 14px;
  }
}

.p-pagenation {
  width: 100%;
  height: 244px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-pagenation .wp-pagenavi {
  position: relative;
}
.p-pagenation .wp-pagenavi .pages,
.p-pagenation .wp-pagenavi .previouspostslink,
.p-pagenation .wp-pagenavi .nextpostslink {
  border: none;
}
@media (max-width: 850px) {
  .p-pagenation .wp-pagenavi .pages,
.p-pagenation .wp-pagenavi .page,
.p-pagenation .wp-pagenavi .current {
    display: none;
  }
}
.p-pagenation .wp-pagenavi .previouspostslink,
.p-pagenation .wp-pagenavi .nextpostslink {
  font-size: 36px;
  position: absolute;
  bottom: -24px;
}
.p-pagenation .wp-pagenavi .previouspostslink {
  left: -58px;
}
.p-pagenation .wp-pagenavi .pages {
  position: absolute;
  left: -156px;
  bottom: -16px;
}
.p-pagenation .wp-pagenavi a,
.p-pagenation .wp-pagenavi span {
  margin: 8px;
  padding: 8px 12px;
  color: #707070;
}
.p-pagenation .wp-pagenavi .current {
  border: solid 1px #3c2b1c;
  background-color: #3c2b1c;
  color: #fff;
}
@media (max-width: 850px) {
  .p-pagenation .wp-pagenavi .previouspostslink {
    font-size: 20px;
    position: absolute;
    left: 10px;
  }
  .p-pagenation .wp-pagenavi .previouspostslink::after {
    content: "前へ";
    padding-left: 10px;
  }
}
@media (max-width: 850px) {
  .p-pagenation .wp-pagenavi .nextpostslink {
    font-size: 20px;
    position: absolute;
    right: 10px;
  }
  .p-pagenation .wp-pagenavi .nextpostslink::before {
    content: "後へ";
    padding-right: 10px;
  }
}

.p-single__code {
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px;
  font-family: "mplus-1m-regular";
}
.p-single__code code {
  font-size: 18px;
  line-height: 1.6;
  color: black;
}
.p-single__bold {
  margin-bottom: 300px;
}
.p-single__bold p {
  font-family: "mplus-1m-bold";
}

.p-picture {
  width: 100%;
}
.p-picture * {
  padding: 15px 0;
}
.p-picture__top img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}
@media (max-width: 1900px) {
  .p-picture__top img {
    height: 280px;
  }
}
.p-picture__column {
  display: flex;
  height: 358px;
  width: 100%;
}
@media (max-width: 850px) {
  .p-picture__column {
    height: 100%;
  }
}
.p-picture__column img {
  object-fit: cover;
}
@media (max-width: 1900px) {
  .p-picture__column img {
    height: 240px;
  }
}
.p-picture__column p {
  line-height: 1.6;
  font-family: "mplus-1m-regular";
}
.p-picture .top p {
  padding-left: 40px;
}
@media (max-width: 1900px) {
  .p-picture .top p {
    padding-left: 20px;
  }
}
.p-picture .bottom p {
  padding-right: 40px;
}
@media (max-width: 1900px) {
  .p-picture .bottom p {
    padding-right: 20px;
  }
}
.p-picture__bottom {
  width: 65%;
  margin: 0 auto;
}
@media (max-width: 850px) {
  .p-picture__bottom img {
    width: 100%;
  }
}
.p-picture__tile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 1900px) {
  .p-picture__tile {
    justify-content: flex-start;
  }
}
.p-picture__tile img {
  width: 33%;
}
@media (max-width: 1900px) {
  .p-picture__tile img {
    width: 50%;
    padding: 10px;
  }
}
@media (max-width: 850px) {
  .p-picture__tile img {
    width: 100%;
  }
}

.p-page__code {
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px;
}
.p-page__code code {
  font-size: 18px;
  line-height: 1.6;
  color: black;
}
.p-page__bold {
  margin-bottom: 300px;
}
.p-page__bold p {
  font-weight: bold;
}

.p-bar {
  display: none;
  top: 20px;
  width: 100%;
  position: fixed;
  text-align: right;
  z-index: 100;
}
.p-bar__button {
  font-size: 30px;
  font-weight: bold;
  color: #707070;
  position: absolute;
  right: 30px;
  cursor: pointer;
}
@media (max-width: 850px) {
  .p-bar__button {
    font-size: 24px;
  }
}
@media (max-width: 1900px) {
  .p-bar {
    display: block;
  }
}

.p-search-form__box {
  width: 25rem;
  height: 46px;
  border-radius: 0.6rem;
  border: solid 1px #707070;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: white;
}
@media (max-width: 850px) {
  .p-search-form__box {
    width: 15rem;
  }
}
.p-search-form__button {
  width: 136px;
  height: 48px;
  margin-left: 10px;
  background-color: #f2ede9;
  border-radius: 0.6rem;
  border: solid 1px #707070;
  color: #707070;
}
@media (max-width: 850px) {
  .p-search-form__button {
    width: 78px;
  }
}

.p-mainvisual {
  height: 550px;
  display: flex;
  text-align: center;
  align-items: center;
}
.p-mainvisual__article h2 {
  margin-bottom: 20px;
}
.p-mainvisual img {
  height: 100%;
  width: 65%;
}

.p-article {
  padding: 30px 90px 180px;
  font-weight: normal;
  color: #3C2A10;
}
@media (max-width: 1900px) {
  .p-article {
    padding: 70px 60px;
  }
}
@media (max-width: 850px) {
  .p-article {
    padding: 35px 22px;
  }
}
.p-article h2 {
  padding: 33px 0;
  font-size: 36px;
}
.p-article h3 {
  padding: 33px 0;
  font-size: 28px;
}
.p-article h4, .p-article h5, .p-article h6 {
  padding: 33px 0;
  font-size: 20px;
}
.p-article p {
  padding: 33px 0;
  font-size: 16px;
  line-height: 1.6;
}
.p-article blockquote {
  padding: 33px 0;
  background-color: #F5F5F5;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 1.6;
}
@media (max-width: 850px) {
  .p-article blockquote {
    padding-top: 30px;
  }
}
.p-article blockquote > p {
  padding: 0 0 33px;
}
.p-article ol {
  padding: 33px 0;
  width: 100%;
  font-size: 16px;
  line-height: 1.6;
}
@media (max-width: 850px) {
  .p-article ol {
    padding: 0 20px 30px;
  }
}
.p-article ol > li {
  list-style: decimal;
}
.p-article ol > li > ol {
  padding: 30px 20px;
}
.p-article ul {
  padding: 33px 0;
  width: 100%;
  font-size: 16px;
  line-height: 1.6;
}
@media (max-width: 850px) {
  .p-article ul {
    padding: 0 0 30px;
  }
}
.p-article ul > li > ul {
  padding: 30px 20px;
}
.p-article pre {
  padding: 33px 0;
  width: 100%;
  background-color: #F5F5F5;
  padding: 50px;
}
.p-article pre code {
  font-size: 16px;
  line-height: 1.6;
}
.p-article figure {
  padding: 33px 0;
  display: flex;
  align-items: center;
}
.p-article figure img {
  height: 257px;
  width: 438px;
  object-fit: cover;
  object-position: center;
}
.p-article figure table {
  padding: 60px 0;
  font-size: 16px;
  width: 100%;
}
.p-article figure table tr {
  padding: 30px;
}
.p-article figure table tr th, .p-article figure table tr td {
  padding: 30px;
  font-weight: 500;
  border: solid 1px;
  text-align: inherit;
}

.p-map {
  font-family: "mplus-1m-bold";
  position: relative;
  width: 100%;
  height: 650px;
}
@media (max-width: 1900px) {
  .p-map {
    height: 400px;
  }
}
@media (max-width: 850px) {
  .p-map {
    height: 691px;
  }
}
.p-map__layer1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 50;
}
.p-map__layer2 {
  position: absolute;
  top: 0;
  width: 55%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
@media (max-width: 1900px) {
  .p-map__layer2 {
    width: 100%;
  }
}
@media (max-width: 850px) {
  .p-map__layer2 {
    height: 60%;
  }
}
.p-map__wrap {
  position: absolute;
  width: 55%;
  top: 0;
  padding: 80px 80px 0 100px;
  z-index: 100;
}
@media (max-width: 1900px) {
  .p-map__wrap {
    width: 100%;
    padding: 40px 40px 0 50px;
  }
}
.p-map__wrap h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}
@media (max-width: 850px) {
  .p-map__wrap h3 {
    font-size: 30px;
  }
}
.p-map__wrap h3::after {
  position: absolute;
  content: "";
  width: 90px;
  height: 3px;
  background-color: #fff;
  top: 160px;
  left: 100px;
}
@media (max-width: 1900px) {
  .p-map__wrap h3::after {
    height: 2px;
    top: 110px;
    left: 50px;
  }
}
.p-map__wrap p {
  padding-top: 50px;
  color: #fff;
  line-height: 1.8;
  font-size: 14px;
}

.p-menu-card__text {
  width: 57%;
}
.p-menu-card__text--custom {
  width: 50%;
}
@media (max-width: 850px) {
  .p-menu-card__text--custom {
    width: 80%;
  }
}
.p-menu-card__text--custom > h2 {
  padding: 20px 0 20px 20px;
  font-family: "mplus-1m-bold";
}
@media (max-width: 850px) {
  .p-menu-card__text--custom > h2 {
    padding: 10px 0 10px 10px;
    font-size: 28px;
  }
}
.p-menu-card__info {
  width: 100%;
  padding: 30px 20px;
}
@media (max-width: 850px) {
  .p-menu-card__info {
    padding: 10px 10px;
  }
}
.p-menu-card__info > p {
  font-size: 20px;
  padding: 10px 0;
  font-family: "mplus-1m-normal";
}
@media (max-width: 850px) {
  .p-menu-card__info > p {
    font-size: 16px;
  }
}
.p-menu-card--custom {
  display: flex;
  padding: 20px 0;
}
.p-menu-card--custom img {
  width: 50%;
  height: 300px;
  object-fit: cover;
}
@media (max-width: 850px) {
  .p-menu-card--custom img {
    width: 80%;
  }
}
@media (max-width: 850px) {
  .p-menu-card--custom {
    flex-direction: column;
    align-items: center;
  }
}

.p-pagelink {
  display: flex;
  justify-content: center;
}
.p-pagelink p {
  font-size: 1.4rem;
}
.p-pagelink p span, .p-pagelink p a {
  padding: 5px;
  border: solid 2px #3B2A10;
  margin: 0 3px;
}
.p-pagelink p span {
  color: #fff7ef;
  background-color: #3B2A10;
}
.p-pagelink p a {
  color: #3B2A10;
}

.p-article-tag a {
  margin: 0 3px;
  padding: 2px;
  color: #fff7ff;
  background-color: #707070;
  border: solid 1px #707070;
  border-radius: 5px;
}

.p-comments {
  margin-top: 100px;
}
.p-comments__pagenation {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
.p-comments__pagenation span,
.p-comments__pagenation a {
  font-size: 18px;
  display: block;
  color: #3c2b1c;
  padding: 10px;
}
.p-comments h3 {
  padding: 18px 0;
}
.p-comments > ol {
  padding: 0;
}
.p-comments > ol > li {
  list-style-type: none;
  margin: 30px 0;
  border: solid 2px #707070;
}

.comment-author {
  display: flex;
  align-items: center;
}
.comment-author cite {
  padding-left: 18px;
}
.comment-author span {
  padding-left: 5px;
}

.reply > a {
  padding-left: 10px;
  color: #707070;
}

.comment-form-comment {
  display: flex;
  flex-direction: column;
}
.comment-form p {
  padding: 20px 0;
}
.comment-form-author, .comment-form-email, .comment-form-url {
  display: flex;
  flex-direction: column;
}
.comment-form .form-submit .submit {
  width: 10%;
  height: 35px;
  background-color: #fff7ef;
  color: #707070;
  border: solid 1px #707070;
  border-radius: 5px;
}
@media (max-width: 850px) {
  .comment-form .form-submit .submit {
    width: 20%;
  }
}

.image-1 figure img {
  width: 1353px;
  height: 500px;
  object-fit: cover;
  object-position: 100% 100%;
}
@media (max-width: 1900px) {
  .image-1 figure img {
    width: 741px;
    height: 264px;
  }
}
@media (max-width: 850px) {
  .image-1 figure img {
    width: 335px;
    height: 124px;
  }
}

.wp-block-media-text {
  margin: 10px auto;
}
.wp-block-media-text figure {
  padding-top: 0;
}
@media (max-width: 850px) {
  .wp-block-media-text figure img {
    width: 200px;
    height: 120px;
  }
}
.wp-block-media-text p {
  padding-top: 0;
}

.image-2 figure {
  justify-content: flex-end;
}

.image-3 figure {
  justify-content: flex-start;
}

.wp-block-column figure img {
  width: 349px;
  height: 205px;
}

.wp-block-image img {
  margin: 0 auto;
}

.p-article figure {
  padding: 0;
}

@media (max-width: 1900px) {
  .wp-block-button__link {
    font-size: 14px;
  }
}
@media (max-width: 850px) {
  .wp-block-button__link {
    font-size: 0.5px;
  }
}

.wp-caption,
.gallery-caption {
  font-size: 10px;
}

.wp-caption-text {
  margin-top: -20px;
}

.sticky {
  padding: 10px;
  border: solid 2px #ffc062;
}

.bypostauthor {
  background-color: #fff7ef;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1rem;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1rem;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.gazou-100 {
  width: 1000px;
}/*# sourceMappingURL=portfolio.css.map */