@charset "UTF-8";
/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

* {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@keyframes slidein {
  from {
    opacity: 0.7;
    transform: translateX(250px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.l-header {
  width: 100%;
  height: 217px;
  background-color: #fff5ee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1900px) {
  .l-header {
    flex-direction: column;
    justify-content: space-around;
  }
}
.l-header__title {
  margin-left: 3em;
  background-color: none;
}
@media (max-width: 1900px) {
  .l-header__title {
    margin-left: 20px 0;
  }
}
@media (max-width: 850px) {
  .l-header__title {
    margin-top: 36px;
  }
}
.l-header__title a {
  color: #707070;
  font-size: 2.2em;
}
@media (max-width: 850px) {
  .l-header__title a {
    font-size: 1.6em;
  }
}
.l-header__right {
  margin-right: 2rem;
  display: flex;
}
@media (max-width: 1900px) {
  .l-header__right {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.l-sidebar {
  padding-left: 60px;
}
@media (max-width: 1900px) {
  .l-sidebar {
    padding-top: 100px;
  }
}
.l-sidebar > a {
  display: block;
  font-size: 34px;
  font-weight: 600;
  color: #707070;
  padding-top: 70px;
  padding-bottom: 90px;
}
@media (max-width: 1900px) {
  .l-sidebar > a {
    display: none;
  }
}
.l-sidebar ul li {
  padding-bottom: 15px;
  font-size: 24px;
}
.l-sidebar ul li > a {
  color: #707070;
  font-weight: 700;
}
.l-sidebar ul li ul {
  padding-top: 32px;
  padding-left: 18px;
}
.l-sidebar ul li ul li {
  font-size: 20px;
  padding-bottom: 30px;
}
.l-sidebar ul li ul li a {
  color: #707070;
  font-weight: 500;
}
.l-sidebar ul li ul li a:hover {
  color: #dfdfdf;
}

.l-main {
  display: flex;
}
.l-main.is-open {
  position: relative;
}
.l-main__left {
  width: 80%;
  height: 100%;
}
@media (max-width: 1900px) {
  .l-main__left {
    width: 100%;
  }
}
.l-main__left.is-open {
  position: relative;
  overflow-y: scroll;
}
.l-main__left.is-open::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}
.l-main__right {
  width: 20%;
  height: 100%;
  background-color: #f2ede9;
  z-index: 100;
}
@media (max-width: 1900px) {
  .l-main__right {
    position: fixed;
    left: 100%;
  }
}
.l-main__right.is-open {
  animation: 0.7s slidein;
  overflow-y: auto;
  left: 65%;
  width: 35%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 300;
}
@media (max-width: 850px) {
  .l-main__right.is-open {
    left: 15%;
    width: 85%;
  }
}

.l-footer {
  width: 100%;
  height: 150px;
  background-color: #9d8670;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.l-footer__section {
  padding-top: 43px;
}
.l-footer__section a {
  position: relative;
  color: #fff;
  font-size: 20px;
  padding: 43px 10px;
  position: relative;
}
.l-footer__section a:last-of-type::before {
  position: absolute;
  top: 45px;
  left: -3px;
  content: "";
  background-color: #fff;
  width: 2px;
  height: 20px;
}
.l-footer p {
  color: #fff;
  padding-top: 39px;
  font-size: 14px;
}

.c-table {
  width: 100%;
  padding: 60px 0;
}
.c-table table {
  font-size: 16px;
  width: 100%;
  border-collapse: collapse;
}
.c-table table tr {
  padding: 30px;
}
.c-table table tr th,
.c-table table tr td {
  padding: 30px;
  font-weight: 500;
  border: solid 1px;
  text-align: inherit;
}
.c-table table tr th:first-child {
  width: 33%;
}

.c-button {
  width: 100%;
  padding-bottom: 60px;
}
.c-button__close {
  cursor: pointer;
}
.c-button__close.is-open {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0;
  right: 0;
}
.c-button__close.is-open::before {
  content: "";
  height: 2.5px;
  width: 24px;
  right: 13px;
  top: 48%;
  display: block;
  position: absolute;
  background-color: #121212;
}
.c-button__close.is-open::after {
  content: "";
  height: 24px;
  width: 2.5px;
  right: 24px;
  top: 26%;
  display: block;
  position: absolute;
  background-color: #121212;
}
.c-button button {
  background-color: #f2ede9;
  border-radius: 30px;
  border: 1px solid;
}
.c-button button a {
  display: block;
  width: 430px;
  color: #3c2a10;
  font-size: 16px;
  line-height: 100px;
}

.p-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-branch-menu {
  height: 1400px;
  display: flex;
}
@media (max-width: 1900px) {
  .p-branch-menu {
    height: auto;
    background-size: cover;
  }
}
@media (max-width: 850px) {
  .p-branch-menu {
    height: 1200px;
    flex-direction: column;
    justify-content: center;
  }
}
.p-branch-menu__wrap {
  position: relative;
  height: 1193px;
  width: 625px;
  margin: 100px 60px;
}
@media (max-width: 1900px) {
  .p-branch-menu__wrap {
    height: 681px;
    width: 357px;
    margin: 66px 30px;
  }
}
@media (max-width: 850px) {
  .p-branch-menu__wrap {
    width: 335px;
  }
}
.p-branch-menu__wrap h2 {
  position: relative;
  font-size: 3.5rem;
  padding-top: 30px;
  padding-left: 20px;
  color: #eaeaea;
}
@media (max-width: 1900px) {
  .p-branch-menu__wrap h2 {
    font-size: 2.3rem;
    padding-top: 20px;
    padding-left: 13px;
  }
}
.p-branch-menu__wrap h2::after {
  position: absolute;
  top: 140px;
  left: 26px;
  content: "";
  width: 60px;
  height: 6px;
  background-color: #eaeaea;
}
@media (max-width: 1900px) {
  .p-branch-menu__wrap h2::after {
    top: 96px;
    left: 18px;
    width: 40px;
    height: 4px;
  }
}
.p-branch-menu .takeout {
  background: url(../img/c-wrap_takeout.png) no-repeat;
}
@media (max-width: 1900px) {
  .p-branch-menu .takeout {
    background-size: 100%;
  }
}
@media (max-width: 850px) {
  .p-branch-menu .takeout {
    margin: 20px;
  }
}
.p-branch-menu .eatin {
  background: url(../img/c-wrap_eatin.png) no-repeat;
}
@media (max-width: 1900px) {
  .p-branch-menu .eatin {
    background-size: 100%;
  }
}
@media (max-width: 850px) {
  .p-branch-menu .eatin {
    margin: 0 20px 20px 20px;
  }
}

.p-box {
  position: absolute;
  bottom: 0;
}
.p-box__description {
  height: 174px;
  width: 585px;
  margin: 0 20px 20px;
  background-color: #eaeaea;
  opacity: 0.8;
}
@media (max-width: 1900px) {
  .p-box__description {
    height: 172px;
    width: 320px;
  }
}
@media (max-width: 850px) {
  .p-box__description {
    height: 163px;
    width: 314px;
    margin: 10px;
  }
}
.p-box__description h4 {
  font-size: 24px;
  padding: 22px 19px;
  color: #fff;
}
@media (max-width: 850px) {
  .p-box__description h4 {
    font-size: 18px;
    padding: 16px 13px;
  }
}
.p-box__description p {
  font-size: 16px;
  padding: 9px 19px;
  line-height: 1.5;
  color: #fff;
}
@media (max-width: 850px) {
  .p-box__description p {
    font-size: 12px;
    padding: 6px 13px;
  }
}
.p-box-archivepage {
  padding: 70px 100px;
}
@media (max-width: 1900px) {
  .p-box-archivepage {
    padding: 50px;
  }
}
.p-box-archivepage h4 {
  font-size: 34px;
  font-weight: 500;
}
.p-box-archivepage p {
  font-size: 14px;
  padding-top: 33px;
  line-height: 1.8;
}

.p-menu__card {
  display: flex;
  height: 471px;
  width: 1353px;
  padding: 0 100px 30px;
}
@media (max-width: 1900px) {
  .p-menu__card {
    height: 354px;
    width: 756px;
    padding: 10px 10px;
  }
}
@media (max-width: 850px) {
  .p-menu__card {
    height: 100%;
    width: 336px;
    flex-direction: column;
    padding: 20px;
  }
}
@media (max-width: 850px) {
  .p-menu__card img {
    width: 100%;
  }
}
.p-menu__card__text {
  background-color: #3c2b1c;
  padding: 50px 63px;
}
@media (max-width: 1900px) {
  .p-menu__card__text {
    padding: 20px 30px;
  }
}
@media (max-width: 850px) {
  .p-menu__card__text {
    padding: 40px 20px;
  }
}
.p-menu__card__text h3 {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
}
@media (max-width: 1900px) {
  .p-menu__card__text h3 {
    font-size: 20px;
  }
}
.p-menu__card__text h4 {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 450;
  color: #fff;
}
@media (max-width: 1900px) {
  .p-menu__card__text h4 {
    font-size: 12px;
  }
}
.p-menu__card__text p {
  margin-top: 18px;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}
@media (max-width: 1900px) {
  .p-menu__card__text p {
    font-size: 10px;
  }
}
@media (max-width: 850px) {
  .p-menu__card__text p {
    padding-right: 40px;
  }
}
.p-menu__card__text a {
  display: block;
  text-align: center;
  height: 60px;
  width: 60%;
  border-radius: 50px;
  color: #707070;
  background-color: #fff;
  padding: 20px;
  margin: auto;
  margin-top: 110px;
}
@media (max-width: 1900px) {
  .p-menu__card__text a {
    height: 40px;
    margin-top: 60px;
    font-size: 9px;
    padding: 14px;
  }
}

.p-pagenation {
  width: 100%;
  height: 244px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 850px) {
  .p-pagenation {
    display: none;
  }
}
.p-pagenation ul {
  display: flex;
}
.p-pagenation ul li {
  padding: 2px 12px;
  font-size: 18px;
  font-weight: 600;
}
.p-pagenation ul li:first-of-type {
  padding-top: 10px;
}
.p-pagenation ul li:first-of-type::after {
  content: "<<";
  color: #3c2b1c;
  padding-left: 10px;
}
.p-pagenation ul li:last-of-type {
  position: relative;
}
.p-pagenation ul li:last-of-type::after {
  position: absolute;
  top: 10px;
  right: -24px;
  content: ">>";
  color: #3c2b1c;
}
.p-pagenation ul li a {
  display: block;
  color: #3c2b1c;
  border: solid 1px #3c2b1c;
  padding: 8px;
}
.p-pagenation-sp {
  display: none;
}
@media (max-width: 850px) {
  .p-pagenation-sp {
    font-size: 20px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px;
  }
}

.p-single__code {
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px;
}
.p-single__code code {
  font-size: 18px;
  line-height: 1.6;
  color: black;
}
.p-single__bold {
  margin-bottom: 300px;
}
.p-single__bold p {
  font-weight: bold;
}

.p-picture {
  width: 100%;
}
.p-picture * {
  padding: 15px 0;
}
.p-picture__top img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}
@media (max-width: 1900px) {
  .p-picture__top img {
    height: 280px;
  }
}
.p-picture__column {
  display: flex;
  height: 358px;
  width: 100%;
}
@media (max-width: 850px) {
  .p-picture__column {
    height: 100%;
  }
}
.p-picture__column img {
  object-fit: cover;
}
@media (max-width: 1900px) {
  .p-picture__column img {
    height: 240px;
  }
}
.p-picture__column p {
  line-height: 1.6;
}
.p-picture .top p {
  padding-left: 40px;
}
@media (max-width: 1900px) {
  .p-picture .top p {
    padding-left: 20px;
  }
}
.p-picture .bottom p {
  padding-right: 40px;
}
@media (max-width: 1900px) {
  .p-picture .bottom p {
    padding-right: 20px;
  }
}
.p-picture__bottom {
  width: 65%;
  margin: 0 auto;
}
@media (max-width: 850px) {
  .p-picture__bottom img {
    width: 100%;
  }
}
.p-picture__tile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.p-picture__tile img {
  width: 33%;
}
@media (max-width: 1900px) {
  .p-picture__tile img {
    width: 50%;
    padding: 10px;
  }
}
@media (max-width: 850px) {
  .p-picture__tile img {
    width: 100%;
  }
}

.p-page__code {
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px;
}
.p-page__code code {
  font-size: 18px;
  line-height: 1.6;
  color: black;
}
.p-page__bold {
  margin-bottom: 300px;
}
.p-page__bold p {
  font-weight: bold;
}

.p-bar {
  display: none;
  top: 20px;
  height: 60px;
  width: 100%;
  position: fixed;
  text-align: right;
  z-index: 100;
}
.p-bar__button {
  font-size: 30px;
  font-weight: bold;
  color: #707070;
  position: absolute;
  right: 30px;
  cursor: pointer;
}
@media (max-width: 850px) {
  .p-bar__button {
    font-size: 24px;
  }
}
@media (max-width: 1900px) {
  .p-bar {
    display: block;
  }
}

.p-search-form__box {
  width: 25rem;
  height: 46px;
  border-radius: 0.6rem;
  border: solid 1px #707070;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: white;
}
@media (max-width: 850px) {
  .p-search-form__box {
    width: 15rem;
  }
}
.p-search-form__button {
  width: 136px;
  height: 48px;
  margin-left: 10px;
  background-color: #f2ede9;
  border-radius: 0.6rem;
  border: solid 1px #707070;
  color: #707070;
}
@media (max-width: 850px) {
  .p-search-form__button {
    width: 78px;
  }
}

.p-mainvisual {
  height: 530px;
  width: 100%;
  background: url(../img/mainvisual-img/mainvisual-pc.jpg) no-repeat;
  background-size: cover;
}
@media (max-width: 1900px) {
  .p-mainvisual {
    height: 285px;
    background: url(../img/mainvisual-img/mainvisual-tab.png) no-repeat;
    background-size: cover;
  }
}
.p-mainvisual p {
  font-size: 40px;
  color: #fff;
  padding-left: 86px;
  padding-top: 259px;
}
@media (max-width: 1900px) {
  .p-mainvisual p {
    padding-top: 130px;
  }
}

.p-mainvisual-archive {
  position: relative;
  height: 239px;
  width: 100%;
  background: url(../img/mainvisual-img/archive-top.png) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
@media (max-width: 1900px) {
  .p-mainvisual-archive {
    height: 285px;
    background: url(../img/mainvisual-img/archive-top.png) no-repeat;
    background-size: cover;
  }
}
.p-mainvisual-archive::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -20;
}
.p-mainvisual-archive__text {
  display: flex;
  align-items: center;
}
@media (max-width: 850px) {
  .p-mainvisual-archive__text {
    padding-left: 37px;
    flex-direction: column;
  }
}
.p-mainvisual-archive__text h2 {
  margin-left: 50px;
  font-size: 40px;
  color: #fff;
}
@media (max-width: 850px) {
  .p-mainvisual-archive__text h2 {
    font-size: 36px;
  }
}
.p-mainvisual-archive__text p {
  color: #fff;
}
@media (max-width: 850px) {
  .p-mainvisual-archive__text p {
    padding-left: 0;
  }
}

.p-mainvisual-single, .p-mainvisual-page {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
}
@media (max-width: 850px) {
  .p-mainvisual-single, .p-mainvisual-page {
    height: 225px;
    display: flex;
    align-items: center;
  }
}
.p-mainvisual-single h1, .p-mainvisual-page h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  padding-left: 86px;
}
@media (max-width: 850px) {
  .p-mainvisual-single h1, .p-mainvisual-page h1 {
    font-size: 40px;
  }
}

.p-mainvisual-single {
  background: url(../img/mainvisual-img/single-top.png) no-repeat center;
  background-size: cover;
}

.p-mainvisual-page {
  background: url(../img/mainvisual-img/page-top.png) no-repeat center;
  background-size: cover;
}

.p-article {
  padding: 30px 90px;
}
@media (max-width: 1900px) {
  .p-article {
    padding: 30px 40px;
  }
}
@media (max-width: 850px) {
  .p-article {
    padding: 20px 20px;
  }
}
.p-article__text * {
  padding: 33px 0;
}
.p-article__text h2,
.p-article__text h3,
.p-article__text h4,
.p-article__text h5,
.p-article__text h6 {
  font-weight: 700;
}
.p-article__text h2 {
  font-size: 36px;
}
.p-article__text p {
  font-size: 16px;
  line-height: 1.6;
}
.p-article__text h3 {
  font-size: 28px;
}
.p-article__text h4,
.p-article__text h5,
.p-article__text h6 {
  font-size: 20px;
}
.p-article__quote {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}
.p-article__quote * {
  font-size: 16px;
}
.p-article__quote blockquote,
.p-article__quote p {
  padding: 0 50px;
}
.p-article__quote blockquote {
  padding-top: 50px;
  line-height: 1.6;
}
.p-article__quote p {
  padding: 60px 50px;
}
.p-article__list {
  width: 100%;
  padding: 67px;
  font-size: 16px;
}
.p-article__list ol {
  line-height: 1.6;
  padding-bottom: 60px;
}
.p-article__list ol li {
  list-style: decimal;
}
.p-article__list ol li ol {
  padding: 30px 20px;
}
.p-article__list ul {
  line-height: 1.6;
}
.p-article__list ul li ul {
  padding: 30px 20px;
}

.p-map {
  position: relative;
  width: 100%;
  height: 650px;
}
@media (max-width: 1900px) {
  .p-map {
    height: 400px;
  }
}
@media (max-width: 850px) {
  .p-map {
    height: 691px;
  }
}
.p-map__layer1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 50;
}
.p-map__layer2 {
  position: absolute;
  top: 0;
  width: 55%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
@media (max-width: 1900px) {
  .p-map__layer2 {
    width: 100%;
  }
}
@media (max-width: 850px) {
  .p-map__layer2 {
    height: 60%;
  }
}
.p-map__wrap {
  position: absolute;
  width: 55%;
  top: 0;
  padding: 80px 80px 0 100px;
  z-index: 100;
}
@media (max-width: 1900px) {
  .p-map__wrap {
    width: 100%;
    padding: 40px 40px 0 50px;
  }
}
.p-map__wrap h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}
.p-map__wrap h3::after {
  position: absolute;
  content: "";
  width: 90px;
  height: 3px;
  background-color: #fff;
  top: 160px;
  left: 100px;
}
@media (max-width: 1900px) {
  .p-map__wrap h3::after {
    height: 2px;
    top: 110px;
    left: 50px;
  }
}
.p-map__wrap p {
  padding-top: 50px;
  color: #fff;
  line-height: 1.8;
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */