.l-header {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    font-size: 30px;
    padding-left: 23px;
  }
  &__menu {
    display: flex;
    a {
      font-size: 22px;
      padding: 0 16px;
    }
  }
}
