.l-header {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    font-size: 38px;
    padding-left: 30px;
  }
  &__menu {
    display: flex;
    a {
      font-size: 32px;
      padding: 0 20px;
    }
  }
}
