.p-mainvisual {
  height: 530px;
  width: 100%;
  background: url(../img/mainvisual-img/mainvisual-pc.jpg) no-repeat;
  background-size: cover;
  @include tab {
    height: 285px;
    background: url(../img/mainvisual-img/mainvisual-tab.png) no-repeat;
    background-size: cover;
  }
  @include sp {
    background: url(../img/mainvisual-img/mainvisual-tab.png) no-repeat right;
  }
  p {
    font-size: 32px;
    font-family: "mplus-1m-bold";
    color: #fff;
    padding-left: 86px;
    padding-top: 259px;
    @include tab {
      padding-top: 130px;
    }
    @include sp {
      padding-left: 40px;
    }
  }
}

.p-mainvisual-archive {
  position: relative;
  height: 239px;
  width: 100%;
  background: url(../img/mainvisual-img/archive-top.png) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  @include tab {
    height: 285px;
    background: url(../img/mainvisual-img/archive-top.png) no-repeat;
    background-size: cover;
  }
  @include sp {
    background: url(../img/mainvisual-img/archive-top.png) no-repeat center;
    background-size: cover;
  }
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.8);
    z-index: -20;
  }
  &__text {
    display: flex;
    align-items: center;
    @include sp {
      padding-left: 30px;
      flex-direction: column;
      align-items: stretch;
    }
    h2 {
      margin-left: 50px;
      font-size: 40px;
      color: #fff;
      @include sp {
        font-size: 36px;
        margin-left: 0;
      }
    }
    p {
      font-size: 24px;
      color: #fff;
      font-family: "mplus-1m-bold";
      @include sp {
        padding-left: 0;
      }
    }
  }
}

.p-mainvisual-single,.p-mainvisual-page {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  @include sp {
    height: 225px;
    display: flex;
    align-items: center;
  }
  h1 {
    color: #fff;
    font-family: "mplus-1m-bold";
    font-size: 60px;
    font-weight: 600;
    padding-left: 86px;
    @include sp {
      font-size: 40px;
      padding-left: 40px;
    }
  }
}

.p-mainvisual-single {
  background: url(../img/mainvisual-img/single-top.png) no-repeat center;
  background-size: cover;
}

.p-mainvisual-page {
  background: url(../img/mainvisual-img/page-top.png) no-repeat center;
  background-size: cover;
}