.p-mainvisual {
  height: 550px;
  display: flex;
  text-align: center;
  align-items: center;
  &__article {
    h2 {
      margin-bottom: 30px;
    }
  }
  img {
    height: 100%;
    width: 65%;
  }
}
