.p-menu-card{
  &__text{
      width: 57%;
      &--custom{
          width: 50%;
          @include sp {
            width: 80%;
          }
          >h2{
              padding: 20px 0 20px 20px;
              font-family: "mplus-1m-bold";
              @include sp {
                padding: 10px 0 10px 10px;
                font-size: 28px;
              }
          }
      }
  }
  &__info{
      width: 100%;
      padding: 30px 20px;
      @include sp {
        padding: 10px 10px;
      }
      >p{
          font-size: 20px;
          padding: 10px 0;
          font-family: "mplus-1m-normal";
          @include sp {
            font-size: 16px;
          }
      }
  }
  &--custom{
      display: flex;
      padding: 20px 0;
      img{
          width: 50%;
          height: 300px;
          object-fit: cover;
          @include sp {
            width: 80%;
          }
      }
      @include sp {
        flex-direction: column;
        align-items: center;
      }
  }
}