.p-menu {
  &__card {
    display: flex;
    height: auto;
    width: 100%;
    padding: 0 100px 30px;
    @include tab {
      height: 354px;
      width: 756px;
      padding: 10px 10px;
    }
    @include sp {
      height: 100%;
      width: 336px;
      flex-direction: column;
      padding: 20px;
    }
    img {
      width: 43%;
      height: auto;
      @include sp {
        width: 100%;
      }
    }
    &__text {
      height: auto;
      width: 100%;
      background-color: #3c2b1c;
      padding: 50px 63px;
      @include tab {
        padding: 20px 30px;
      }
      @include sp {
        padding: 40px 20px;
      }
      h3 {
        font-size: 28px;
        font-family: "mplus-1m-bold";
        color: #fff;
        @include tab {
          font-size: 16px;
        }
      }
      h4 {
        margin-top: 24px;
        font-size: 20px;
        font-weight: 450;
        font-family: "mplus-1m-bold";
        color: #fff;
        @include tab {
          font-size: 12px;
        }
      }
      p {
        margin-top: 18px;
        font-size: 12px;
        font-weight: 300;
        font-family: "mplus-1m-regular";
        color: #fff;
        @include tab {
          font-size: 10px;
        }
        @include sp {
          padding-right: 40px;
        }
      }
      a {
        font-family: "mplus-1m-bold";
        display: block;
        text-align: center;
        height: 60px;
        width: 60%;
        border-radius: 50px;
        color: #707070;
        background-color: #fff;
        padding: 20px;
        margin: auto;
        margin-top: 110px;
        @include tab {
          height: 40px;
          margin-top: 60px;
          font-size: 9px;
          padding: 14px;
        }
      }
    }
  }
}
