.p-pagenation {
  width: 100%;
  height: 244px;
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    display: flex;
    align-items: center;
    li {
      padding: 2px 12px;
      font-size: 18px;
      font-weight: 600;
      .page-numbers {
        display: block;
        color: #3c2b1c;
        border: solid 1px #3c2b1c;
        padding: 8px;
        @include sp {
          display: none;
        }
      }
      .current {
        border: solid 1px #3c2b1c;
        background-color: #3c2b1c;
        color: #fff;
        padding: 8px;
      }
      .prev {
        border: none;
        @include sp {
          display: block;
          &::after {
            width: 70px;
            content: "前へ";
          }
        }
      }
      .next {
        border: none;
        @include sp {
          display: block;
          &::before {
            width: 70px;
            content: "後へ";
          }
        }
      }
    }
  }
}
