.p-search-form {
  &__box {
    width: 25rem;
    height: 46px;
    border-radius: 0.6rem;
    border: solid 1px #707070;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: white;
    @include sp {
      width: 15rem;
    }
  }
  &__button {
    width: 136px;
    height: 48px;
    margin-left: 10px;
    background-color: #f2ede9;
    border-radius: 0.6rem;
    border: solid 1px #707070;
    color: #707070;
    @include sp {
      width: 78px;
    }
  }
}
