* {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@keyframes slidein {
  from {
    opacity: 0.7;
    transform: translateX(250px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

body{
  &.is-fixed{
      overflow: hidden;
  }
}