.c-button {
  width: 100%;
  padding-bottom: 60px;
  &__close {
    cursor: pointer;
    &.is-open {
      position: absolute;
      height: 50px;
      width: 50px;
      top:0;
      right: 0;
      &::before {
        content: "";
        height: 3px;
        width: 46px;
        top: 50%;
        transform: rotate(45deg);
        display: block;
        position: absolute;
        background-color: #707070;
      }
      &::after {
        content: "";
        height: 3px;
        width: 46px;
        top: 50%;
        transform: rotate(-45deg);
        display: block;
        position: absolute;
        background-color: #707070;
      }
    }
  }
  button {
    background-color: #f2ede9;
    border-radius: 30px;
    border: 1px solid;
    a {
      font-family: "mplus-1m-bold";
      display: block;
      width: 430px;
      color: #3c2a10;
      font-size: 16px;
      line-height: 100px;
    }
  }
}
