.c-table {
  width: 100%;
  tr {
    display: flex;
    justify-content: space-between;
  }
  th {
    font-size: 20px;
  }
  &__title {
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 12px;
    font-size: 22px;
  }
}

.c-table__1 {
  width: 100%;
  tr {
    border-bottom: 1px solid;
  }
  tr:first-child {
    border-bottom: none;
  }
}

.c-table__2 {
  width: 100%;
  tr {
    border-bottom: 1px solid;
  }
  tr:first-child {
    border-bottom: none;
  }
}

.c-table__3 {
  width: 100%;
  tr {
    border-bottom: 1px solid;
  }
  tr:first-child {
    border-bottom: none;
  }
}