// 固定ページ

.image-1 {
  figure {
    img {
      width: 1353px;
      height: 500px;
      object-fit: cover;
      object-position: 100% 100%;
      @include tab {
        width: 741px;
        height: 264px;
      }
      @include sp {
        width: 335px;
        height: 124px;
      }
    }
  }
}

.wp-block-media-text {
  margin: 10px auto;
  figure {
    padding-top: 0;
    img {
      @include sp {
        width: 200px;
        height: 120px;
      }
    }
  }
  p {
    padding-top: 0;
  }
}

.image-2 {
  figure {
    justify-content: flex-end;
  }
}

.image-3 {
  figure {
    justify-content: flex-start;
  }
}

.wp-block-column {
  figure {
    img {
      width: 349px;
      height: 205px;
    }
  }
}

.wp-block-image {
  img {
    margin: 0 auto;
  }
}

.p-article {
  figure {
    padding: 0;
  }
}


// テーマチェックエラー解消用
.wp-caption,
.gallery-caption {
  font-size: 10px;
}

.wp-caption-text {
  margin-top: -20px;
}

.sticky {
  padding: 10px;
  border: solid 2px rgb(255, 192, 98);
}

.bypostauthor {
  background-color: #fff7ef;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1rem;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1rem;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.gazou-100 {
  width: 1000px;
}
